@using GenFu.HtmlHelpers.WireframeHelper;
@{
    ViewBag.Title = "Generate Wireframe Prototypes";
}
<h1>Hello</h1>
<div class="row">
    <div class="sm-col-12">
       @Html.Genfu().H1().P().H2()
    </div>
</div>