@using GenFu.HtmlHelpers.WireframeHelper;
@{
    ViewBag.Title = "Generate Wireframe Prototypes";
}
<div class="row">
    <div class="col-sm-12">
        <h1>Prototyping</h1>
       @Html.GenFu().H1().H2().P().Table(5, new { @class = "table table-stripped" })
    </div>
</div>