@{
    ViewBag.Title = "Generate Wireframe Prototypes";
}
<div class="row">
    <div class="col-12-sm">
        <div class="jumbotron">
            <h2>GenFu Wireframes</h2><h3>The ultimate code first UI/UX prototyping tool</h3>
            <p class="lead">
                The GenFu Wireframes is a package that provides a fluent API that creates placeholder HTML and images at runtime using simple helper extension methods. GenFu Wireframes is specifically for <strong>reducing prototyping markup</strong>.
                Since GenFu injects placeholder conent at runtime, your markup remains untouched and your source code remains clean.
            </p>
        </div>
        <h3>How does it work?</h3>
        <ol>
            <li>
                <p><strong>Install the package</strong></p>
                <pre>PM&gt; Install-Package GenFu.Wireframes</pre>
            </li>
            <li>
                <p><strong>Add a reference</strong></p>
                <pre>@@using GenFu.HtmlHelpers.WireframeHelper;</pre>
            </li>
            <li>
                <p><strong>Use the helpers to generate text and images</strong></p>
                <pre>//Generate ..
//a Paragraph
@@Html.GenFu().P()
//an Image placeholder
@@Html.GenFu().Image(300, 300)
//a Table
@@Html.Genfu().Table()
//a page using the Fluent api
@@Html.GenFu().H1().P().H2().P().H3().Ol(10, 3, true)
                </pre>
            </li>
        </ol>
    </div>
</div>