@{
    ViewBag.Title = "Everybody was GenFu Fighting";
}

<div class="jumbotron">
    <h1>GenFu Your Objects</h1>
    <p class="lead">
        GenFu is a library you can use to generate realistic test data. 
    </p>
    <p>
        GenFu is composed of several
        property fillers that can populate commonly
        named properties using reflection and an internal database of
        values or randomly created data. You can override any of the fillers or
        give GenFu hints on how to fill your properties.
    </p>
</div>



<div class="row">
    <h2>Try GenFu Out</h2>
    <p><i>Working on this part...stay tuned.</i></p>
    <form class="form-horizontal">
        <div class="col-lg-10 col-md-10 col-sm-10" >
            <textarea id="source-codez" class="form-control" rows="15">
                public class Person
                {
                public string FirstName { get; set; }
                public string LastName { get; set; }
                public int Age { get; set; }
                public string EmailAddress { get; set; }

                }
            </textarea>
        </div>
        <a class="btn btn-success btn-lg" ><span class="glyphicon glyphicon-play"></span> Generate test data</a>
    </form>
</div>