@{
    ViewBag.Title = "Everybody was GenFu Fighting";
}

<div class="jumbotron">
    <div class="pull-right col-lg-3">
        <img src="~/content/ninja.png" height="200" width="200" />
    </div>
    <h2>GenFu Your Objects</h2>

    <p class="lead">
        GenFu is a test and prototype data generation library targeting ASP.NET vNext. 
        It understands different topics - such as "contact details" or "blog posts" 
        and uses that understanding to to populate commonly named properties 
        using reflection and an internal database of values or randomly created data. 
    </p>
    <div class="">
        <a href="#installation" class="btn btn-primary btn-lg"><span class="fa fa-arrow-circle-down"></span> Installation</a>
        <a href="#try_it_out" class="btn btn-primary btn-lg"><span class="fa fa-arrow-circle-down"></span> Try it out!</a>
    </div>
</div>

<span id="try_it_out"></span>
<div class="row" >
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Try GenFu Out</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <textarea id="Source" name="Source" class="form-control" rows="12">

    public class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
        public string EmailAddress { get; set; }
    }

                    </textarea>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <button class="btn btn-success btn-lg" type="submit"><span class="glyphicon glyphicon-play"></span> Generate test data</button>
                </div>
            </div>


        </form>
    </div>
</div>

<span id="installation"></span>
<div class="row" >
    <h2>Installation</h2>
    <p>
        The easiest way to add GenFu to your Asp.Net vNext project is through the Package Manager Console.
        Just type the following command:
    </p>
    <pre>
        install-package GenFu
    </pre>
    <h3>No, Wait!</h3>
    <p>
        This is the <b>New Web Order</b>! Why not try editing your project.json file? Add the following to the dependencies section:
        <pre>
    "dependencies": {
        // other dependencies would be here ...
        "GenFu": "1.0.1"
    }
</pre>
    </p>
</div>