@{
    ViewBag.Title = "Everybody was GenFu Fighting";
}

<div class="jumbotron">
    <h2>GenFu Your Objects</h2>
    <div class="pull-right col-lg-3">
        <img src="~/content/ninja.png" height="200" width="200" />
    </div>
    <p class="lead">
        GenFu is a library you can use to generate realistic test data. 
    </p>

    <p>
        GenFu is composed of several
        property fillers that can populate commonly
        named properties using reflection and an internal database of
        values or randomly created data. You can override any of the fillers or
        give GenFu hints on how to fill your properties.
    </p>
</div>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2>Try GenFu Out</h2>
        <p><i>Working on this part...stay tuned.</i></p>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <textarea id="source-codez" class="form-control" rows="12">

    public class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
        public string EmailAddress { get; set; }
    }

                    </textarea>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a class="btn btn-success btn-lg"><span class="glyphicon glyphicon-play"></span> Generate test data</a>
                </div>
            </div>

            
        </form>
    </div>
</div>